extends ./../../layouts/admin

block head
    title Manage Settings

block neck
    link(rel='stylesheet', href='/views/admin/settings/index.min.css?#{cacheBreaker}')

block feet
    script(src='/views/admin/settings/index.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-xs-12
            div#header
            div#settings


    script(type='text/template', id='tmpl-header')
        div.page-header
            h1 Settings

    script(type='text/template', id='tmpl-settings')
        form.settings
            div.alerts
                | <% _.each(errors, function(err) { %>
                div.alert.alert-danger.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    | <%- err %>
                | <% }); %>
                | <% if (success) { %>
                div.alert.alert-info.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    | Changes have been saved.
                | <% } %>

            div.top
                div.group(class!="group-keys")
                    h3 App Keys
                    dl.keys
                        dt Public Key
                        dd #{data.record.publicKey}
                        dt Secret Key
                        dd <%- secretKey %>

                    div.form-role
                        button.btn.btn-danger.btn-reset-secret(type='button') Reset Secret Key

            div.left
                 - var n = 0;
                 - for (var i in data.fields)
                    if (n++ % 2 === 0)
                        div.group(class!="group-#{i}")
                            h3 #{i.replace(/([A-Z])/g, " $1").replace(/^./, function(str) { return str.toUpperCase()})}
                            - for (var j in data.fields[i])
                                div.form-role(class!="<%- errfor.#{j} ? 'has-error' : '' %>")
                                    label #{data.fields[i][j].name}:
                                    input.form-control(type="#{data.fields[i][j].type}", name="#{j}", value!="#{data.fields[i][j].value}")
                                    span.help-block <%- errfor.#{j} %>

            div.right
                - var n = 0;
                - for (var i in data.fields)
                    if (n++ % 2 !== 0)
                        div.group(class!="group-#{i}")
                            h3 #{i.replace(/([A-Z])/g, " $1").replace(/^./, function(str) {return str.toUpperCase()})}
                            - for (var j in data.fields[i])
                                div.form-role(class!="<%- errfor.#{j} ? 'has-error' : '' %>")
                                    label #{data.fields[i][j].name}:
                                    input.form-control(type="#{data.fields[i][j].type}", name="#{j}", value!="#{data.fields[i][j].value}")
                                    span.help-block <%- errfor.#{j} %>

            div.form-role
                button.btn.btn-primary.btn-update(type='button') Update

    script(type='text/template', id='data-record') !{JSON.stringify(data.record)}
    //script(type='text/template', id='data-fields') !{JSON.stringify(data.fields)}