extends ./../../layouts/admin

block head
    title Manage Email

block neck
    link(rel='stylesheet', href='/views/admin/emails/index.min.css?#{cacheBreaker}')

block feet
    script(src='/views/admin/emails/index.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-xs-12
            div#header
            div#emails


    script(type='text/template', id='tmpl-header')
        div.page-header
            h1 Emails

    script(type='text/template', id='tmpl-emails')
        form.emails
            div.alerts
                | <% _.each(errors, function(err) { %>
                div.alert.alert-danger.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    | <%- err %>
                | <% }); %>
                | <% if (success) { %>
                div.alert.alert-info.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    | Changes have been saved.
                | <% } %>


            div.left
                for field, i in data.fields
                    div.group(class!="group-#{i}")
                        h3 #{field.name}
                        div.form-role(class!="<%- errfor.#{i} ? 'has-error' : '' %>")
                            textarea.form-control(name="#{i}" rows="16") #{field.value}
                            span.help-block <%- errfor.#{i} %>

            div.form-role
                button.btn.btn-primary.btn-update(type='button') Update

    script(type='text/template', id='data-record') !{JSON.stringify(data.record)}