doctype html
html
    head
        block head
            title #{title}
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet', href='/vendors/bootstrap.min.css')
            link(rel='stylesheet', href='/vendors/font-awesome.min.css')
            link(rel='stylesheet', href='/views/layouts.min.css?#{cacheBreaker}')
            link(rel='stylesheet', href='/views/views.min.css?#{cacheBreaker}')
            //link(rel='stylesheet', href='/views/admin.min.css?#{cacheBreaker}')
    body
        div#app-mount

        //script(src='/views/layouts.min.js?#{cacheBreaker}')
        script(src='/core.min.js?#{cacheBreaker}')