extends ./../layouts/admin

block head
    title Admin Area

block neck
    link(rel='stylesheet', href='/views/admin/index.min.css?#{cacheBreaker}')

block body
    div.row
        div.col-sm-8
            h1 Admin Area
            div.row
                div.stat
                    div.stat-label
                        a(href='/admin/users/') Users
                    div.stat-value #{countUser}

                div.stat
                    div.stat-label
                        a(href='/admin/roles/') Roles
                    div.stat-value #{countRole}

                div.stat
                    div.stat-label
                        a(href='/admin/statuses/') Statuses
                    div.stat-value #{countStatus}

                div.stat
                    div.stat-label
                        a(href='/admin/fields/') Fields
                    div.stat-value #{countField}

                div.stat
                    div.stat-label
                        a(href='/admin/rules/') Rules
                    div.stat-value #{countRule}

