doctype html
html
    head
        block head
            title #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
        link(rel='stylesheet', href='/layouts/admin.min.css?#{cacheBreaker}')
        link(rel='stylesheet', href='/icons/style.css?#{cacheBreaker}')
        block neck
    body

        div.navbar.navbar-default.navbar-fixed-top
            div.navbar-header
                a.navbar-brand(href='/admin/')
                    img.navbar-logo(src='/media/logo-symbol-32x32.png')
                    span.navbar-brand-label #{projectName}
                form.navbar-form.pull-right#_search

        ul.admin-menu
            div.admin-menu-header Admin Menu
            li: a.icon-users(href='/admin/users/') Users
            li: a.icon-key(href='/admin/roles/') Roles
            li: a.icon-database(href='/admin/fields/') Fields
            li: a.icon-bubble(href='/admin/statuses/') Statuses
            li: a.icon-hammer2(href='/admin/rules/') Rules
            li: a.icon-equalizer(href='/admin/settings/') Settings
            li: a.icon-envelop(href='/admin/emails/') Emails

        div.page
            div.container
                block body

        div.footer
            div.container
                div.inner
                    span.copyright.pull-right
                        | &#169; #{copyrightYear} #{copyrightName}
                    ul.links
                        li: a(href='/') Home
                        li: a(href='/admin/') Admin
                        li: a(href='/logout/') Logout
                    div.clearfix

        div.ajax-spinner
            img(src='/media/ajax-pulse.gif')

        script(type='text/template', id='tmpl-_search')
            div.dropdown
                input.form-control(name='_search', type='text', placeholder='Search People', tab-index='1')
                ul#_search-results-rows.dropdown-menu
        script(type='text/template', id='tmpl-_search-results-row')
            | <% if (type && type == 'header') { %>
            | <%- name %>
            | <% } else { %>
            a(href!='<%= url %>') <%- name %>
            | <% } %>
        script(type='text/template', id='tmpl-_search-results-empty-row')
            li.dropdown-header no docs matched

        // If lte IE 9.
          script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
        script(src='/layouts/core.min.js?#{cacheBreaker}')
        script(src='/layouts/admin.min.js?#{cacheBreaker}')

        block feet
