extends ./../layouts/default

block head
    title Account Settings

block feet
    script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-xs-12
            div#header
    div.row
        div.col-sm-9
            fieldset
                div#identity
            fieldset
                div#password
            fieldset
                div#delete
        div.col-sm-3
            for social, i in data.social
                if social.key
                    if social.active
                        a.btn.btn-block.btn-danger(href='/account/#{i}/disconnect/')
                            i.fa.fa-twitter.fa-lg(class="fa-#{i}")
                            |  Disconnect #{i}
                    else
                        a.btn.btn-block.btn-default(href='/account/#{i}/')
                            i.fa.fa-twitter.fa-lg(class="fa-#{i}")
                            |  Connect #{i}

            //if oauthTwitter || oauthGitHub || oauthFacebook || oauthGoogle || oauthTumblr
                fieldset
                    div#social
                        legend Social Connections
                        if oauthTwitter
                            if oauthTwitterActive
                                a.btn.btn-block.btn-danger(href='/account/twitter/disconnect/')
                                    i.fa.fa-twitter.fa-lg
                                    |  Disconnect Twitter
                            else
                                a.btn.btn-block.btn-default(href='/account/twitter/')
                                    i.fa.fa-twitter.fa-lg
                                    |  Connect Twitter
                        if oauthGitHub
                            if oauthGitHubActive
                                a.btn.btn-block.btn-danger(href='/account/github/disconnect/')
                                    i.fa.fa-github.fa-lg
                                    |  Disconnect GitHub
                            else
                                a.btn.btn-block.btn-default(href='/account/github/')
                                    i.fa.fa-github.fa-lg
                                    |  Connect GitHub
                        if oauthFacebook
                            if oauthFacebookActive
                                a.btn.btn-block.btn-danger(href='/account/facebook/disconnect/')
                                    i.fa.fa-facebook-square.fa-lg
                                    |  Disconnect Facebook
                            else
                                a.btn.btn-block.btn-default(href='/account/facebook/')
                                    i.fa.fa-facebook-square.fa-lg
                                    |  Connect Facebook
                        if oauthGoogle
                            if oauthGoogleActive
                                a.btn.btn-block.btn-danger(href='/account/google/disconnect/')
                                    i.fa.fa-google-plus-square.fa-lg
                                    |  Disconnect Google
                            else
                                a.btn.btn-block.btn-default(href='/account/google/')
                                    i.fa.fa-google-plus-square.fa-lg
                                    |  Connect Google
                        if oauthTumblr
                            if oauthTumblrActive
                                a.btn.btn-block.btn-danger(href='/account/tumblr/disconnect/')
                                    i.fa.fa-tumblr-square.fa-lg
                                    |  Disconnect Tumblr
                            else
                                a.btn.btn-block.btn-default(href='/account/tumblr/')
                                    i.fa.fa-tumblr-square.fa-lg
                                    |  Connect Tumblr

    script(type='text/template', id='tmpl-header')
        div.page-header
            h1
                | Account Settings | <%= username %>

    script(type='text/template', id='tmpl-identity')
        legend Identity
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
            | <% if (success) { %>
            div.alert.alert-info.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | Changes have been saved.
            | <% } %>
        div.form-role(class!='<%- errfor.username ? "has-error" : "" %>')
            label Username:
            input.form-control(type='text', name='username', value!='<%= username %>')
            span.help-block <%- errfor.username %>
        div.form-role(class!='<%- errfor.email ? "has-error" : "" %>')
            label Email:
            input.form-control(type='text', name='email', value!='<%= email %>')
            span.help-block <%- errfor.email %>

        for field in data.fields
            div.form-role(class!='<%- errfor.#{field._id} ? "has-error" : "" %>')
                label #{field.name}:
                input.form-control(type='text', name='#{field._id}', value!='#{field.value}')
                span.help-block <%- errfor.#{field._id} %>
        div.form-role
            button.btn.btn-primary.btn-update(type='button') Update

    script(type='text/template', id='tmpl-password')
        legend Set Password
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
        | <% if (success) { %>
        div.alert.alert-info.alert-dismissable
            button.close(type='button', data-dismiss='alert') &times;
            | A new password has been set.
        | <% } %>
        div.form-role(class!='<%- errfor.newPassword ? "has-error" : "" %>')
            label New Password:
            input.form-control(type='password', name='newPassword', value!='<%= newPassword %>')
            span.help-block <%- errfor.newPassword %>
        div.form-role(class!='<%- errfor.confirm ? "has-error" : "" %>')
            label Confirm Password:
            input.form-control(type='password', name='confirm', value!='<%= confirm %>')
            span.help-block <%- errfor.confirm %>
        div.form-role
            button.btn.btn-primary.btn-password(type='button') Set Password

    script(type='text/template', id='tmpl-delete')
        legend Danger Zone
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
        div.form-role
            span.help-block
                span.label.label-danger If you do this, it cannot be undone.
                | &nbsp;
                span.text-muted You may also create orphaned document relationships too.
        div.form-role
            button.btn.btn-danger.btn-delete(type='button') Delete

    script(type='text/template', id='data-record') !{data.record}
