extends ./../layouts/default

block head
    title Account Settings
    link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
    script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-xs-12
            div#header
    div.row
        div.col-sm-7
            fieldset
                div#identity
            fieldset
                div#password
            fieldset
                div#delete
        div.col-sm-5
            for social, i in data.socials
                if social.key
                    if social.active
                        a.btn.btn-block.btn-danger(href='/account/#{i}/disconnect/')
                            i.fa.fa-lg(class="fa-#{i}")
                            |  Disconnect #{i.charAt(0).toUpperCase() + i.slice(1)}
                    else
                        a.btn.btn-block.btn-default(href='/account/#{i}/')
                            i.fa.fa-lg(class="fa-#{i}")
                            |  Connect #{i.charAt(0).toUpperCase() + i.slice(1)}

            div#sessions
                h3 Sessions
                span.name Name
                span.ip IP
                span.time Last activity
                ol
                    for session, i in data.sessions
                        li
                            span.name #{session.name}
                            span.ip #{session.ip}
                            span.time #{session.time}
                            if (!session.current)
                                span.remove
                                    a.session-remove(href='javascript:void(0)', data-id='#{session.id}') &times;


    script(type='text/template', id='tmpl-header')
        div.page-header
            h1
                | Account Settings | <%= username %>

    script(type='text/template', id='tmpl-identity')
        legend Identity
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
            | <% if (success) { %>
            div.alert.alert-info.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | Changes have been saved.
            | <% } %>
        div.form-role(class!='<%- errfor.username ? "has-error" : "" %>')
            label Username:
            input.form-control(type='text', name='username', value!='<%= username %>')
            span.help-block <%- errfor.username %>
        div.form-role(class!='<%- errfor.email ? "has-error" : "" %>')
            label Email:
            input.form-control(type='text', name='email', value!='<%= email %>')
            span.help-block <%- errfor.email %>

        for field in data.fields
            div.form-role(class!='<%- errfor.#{field._id} ? "has-error" : "" %>')
                label #{field.name}:
                input.form-control(type='text', name='#{field._id}', value!='#{field.value}')
                span.help-block <%- errfor.#{field._id} %>
        div.form-role
            button.btn.btn-primary.btn-update(type='button') Update

    script(type='text/template', id='tmpl-password')
        legend Set Password
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
        | <% if (success) { %>
        div.alert.alert-info.alert-dismissable
            button.close(type='button', data-dismiss='alert') &times;
            | A new password has been set.
        | <% } %>
        div.form-role(class!='<%- errfor.newPassword ? "has-error" : "" %>')
            label New Password:
            input.form-control(type='password', name='newPassword', value!='<%= newPassword %>')
            span.help-block <%- errfor.newPassword %>
        div.form-role(class!='<%- errfor.confirm ? "has-error" : "" %>')
            label Confirm Password:
            input.form-control(type='password', name='confirm', value!='<%= confirm %>')
            span.help-block <%- errfor.confirm %>
        div.form-role
            button.btn.btn-primary.btn-password(type='button') Set Password

    script(type='text/template', id='tmpl-delete')
        legend Danger Zone
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
        div.form-role
            span.help-block
                span.label.label-danger If you do this, it cannot be undone.
                | &nbsp;
                span.text-muted You may also create orphaned document relationships too.
        div.form-role
            button.btn.btn-danger.btn-delete(type='button') Delete

    script(type='text/template', id='data-record') !{data.record}
